.modaleBrawler {
    background-color: #7fffd454;
    width: 100%;
    height: 100%;
    
}


.modaleBrawlerDetailContainer {
    background-color: pink;
    width: 60%;
    margin: 0 auto;
  
}