.mainMenuSelectContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}

.cardSelectContainer {
    display: flex;
    gap: 1rem;
    background-color: #FFEB3B;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.cardSelectElement {
    cursor: pointer;
}

.cardSelectedElement {
    border: 5px ridge #9C27B0;
    border-radius: 5px;
}

.cell {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.comparisonGrid {
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    grid-template-rows: repeat(3, 30px);
    gap: 3rem;
    height: fit-content;
    width: fit-content;
    margin: 1rem auto;
    background-color: #47528d87;
    padding: 2rem 2rem;
    border-radius: 4px;
    border-radius: 5px;
}

.comparisonGrid .header {
    text-align: center;
    font-weight: bold;
    background-color: #282039;
    color: white;
    border-radius: 5px;
}

.comparisonGrid .label {
    text-align: center;
    font-weight: bold;
    background-color: #282039;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.comparisonGrid .value {
    text-align: end;
    padding: 3px;
}

/* Flexibilidad de columnas */
.comparisonGrid[data-columns="1"] {
    grid-template-columns: 150px 1fr;
}

.comparisonGrid[data-columns="2"] {
    grid-template-columns: 150px 1fr 1fr;
}

.comparisonGrid[data-columns="3"] {
    grid-template-columns: 150px 1fr 1fr 1fr;
}