.mainListContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

